<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/variables">Variables</a></li>
  <li class="active"><%= @key %></li>
</ol>


<h2>Show variable</h2>

<ul>

  <li>
    <strong>Key:</strong>
    <%= @key %>
  </li>

  <li>
    <strong>Value:</strong>
    <%= @value %>
  </li>

</ul>

<%= link "Back", to: variable_path(@conn, :index) %>