<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/api/v0.1/">API v0.1</a></li>
  <li class="active">transfer</li>
</ol>
<h1>/transfer</h1>
<p class="lead">
  Notify DDD of a transfer. 
</p>
<h4>Params</h4>
<ul>
  <li>pre: JSON Serialized state before the change</li>
  <li>post: JSON Serialized state after the change</li>
  <li>endpoint: Place to POST any resulting triggers from this change</li>
</ul>
